.row {
    display: table;
    margin: 16px 0;
}

.rowItem {
    display: table-cell;
    vertical-align: middle;
}

input,
select,
.textarea {
    margin-left: 8px;
}

.textareaNoResize {
    resize: none;
}

.mandatory {
    color: red;
}

input.ng-touched.ng-invalid {
    border-color: red;
    border-style: solid;
    border-width: 1px;
    outline: none;
}

.formErrorMessage {
    color: red;
}