<div>
    <h3 *ngIf="!showEditCar">Add car</h3>
    <h3 *ngIf="showEditCar">Edit car</h3>

    <form [formGroup]="addEditCarForm">
        <div class="row">
            <label>Brand</label>
            <span class="mandatory">*</span>
            <input type="text"
                   formControlName="brand"
                   required
                   [(ngModel)]="car.brand"
                   />
        </div>
        <div class="formErrorMessage"
             *ngIf="brand.errors && (brand.dirty || brand.touched) && brand.errors.required">
            Brand is required!
        </div>
        <div class="row">
            <label>Model</label>
            <span class="mandatory">*</span>
            <input type="text"
                   formControlName="model"
                   required
                   [(ngModel)]="car.model"/>
        </div>
        <div class="formErrorMessage"
             *ngIf="model.errors && (model.dirty || model.touched) && model.errors.required">
            Model is required!
        </div>
        <div class="row">
            <label class="rowItem">Description:</label> 
            <textarea class="textarea textareaNoResize"
                      rows="4"
                      cols="30"
                      formControlName="description"
                      [(ngModel)]="car.description"></textarea>
        </div>
        <div class="row">
            <label>Registration</label>
            <span class="mandatory">*</span>
            <input type="text"
                   formControlName="regNum"
                   required
                   [(ngModel)]="car.registrationNumber"/>
        </div>
        <div class="formErrorMessage"
             *ngIf="regNum.errors && (regNum.dirty || regNum.touched) && regNum.errors.required">
            Registration number is required!
        </div>
        <div class="row">
            <label>Fuel type</label>
            <span class="mandatory">*</span>
            <select [(ngModel)]="car.fuelType" formControlName="fuelType">
                <option value="Petrol">Petrol</option>
                <option value="Diesel">Diesel</option>
                <option value="Electric">Electric</option>
            </select>
        </div>
        <div>
            <label>Transmission</label>
            <span class="mandatory">*</span>
            <select [(ngModel)]="car.transmission" formControlName="transmission">
                <option value="Manual">Manual</option>
                <option value="Automatic">Automatic</option>
                <option value="Semi-automatic">Semi-automatic</option>
            </select>
        </div>
        <p>
            <button *ngIf="!showEditCar"
                    type="button"
                    (click)="addCar(car)">Add new car</button>
            <button *ngIf="showEditCar"
                    type="button"
                    (click)="updateCar(car)">Update car</button>
            <button type="button"
                    (click)="cancel()">Cancel</button>
        </p>
    </form>
</div>