#carList {
    display: inline-block;
}

#pagination {
    margin-top: 16px;
    width: 100%;
    text-align: center;
}

.paginationLink {
    color: blue;
    margin: 0 8px;
    cursor: pointer;
}

.paginationLink:hover {
    text-decoration: underline;
}