<h3>Cars</h3>
<div id="carList">
    <div *ngIf="cars.length === 0">No saved cars yet!</div>
    <table border="1"
           *ngIf="cars.length > 0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Description</th>
                <th>Registration Number</th>
                <th>Fuel Type</th>
                <th>Transmission</th>
                <th>Edit/Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let car of cars">
                <td>{{car.id}}</td>
                <td>{{car.brand}}</td>
                <td>{{car.model}}</td>
                <td>{{car.description}}</td>
                <td>{{car.registrationNumber}}</td>
                <td>{{car.fuelType}}</td>
                <td>{{car.transmission}}</td>
                <td>
                    <button [routerLink]="['/addeditcar', car.id]">Edit</button>
                    <button (click)="deleteCar(car.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div id="pagination">
        <a class="paginationLink"
           *ngIf="currentPage > 1"
           (click)="setPage(currentPage - 1)">Previous</a>
        <a class="paginationLink"
           *ngIf="hasNextPage"
           (click)="setPage(currentPage + 1)">Next</a>
    </div>
</div>